@font-face {
    font-family: 'acrobat-regular';
    src: url('../fonts/Akrobat-Regular.otf');
}

@font-face {
    font-family: 'raleway-regular';
    src: url('../fonts/Raleway-Regular.ttf');
}

@font-face {
    font-family: 'roboto-regular';
    src: url('../fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'roboto-medium';
    src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'roboto-light';
    src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: 'roboto-bold';
    src: url('../fonts/Roboto-Bold.ttf');
}

